
@{
    ViewBag.Title = "Index";
}

<h2>What is WebGrid?</h2>
<p>Reporting is the main feature currently in any software application. In webform development, we choose a GridView or Repeater. In classic ASP we develop HTML table elements. In ASP.NET MVC, the new concept begins WebGrid. WebGrid is lightweight for showing data in report format. As you know, MVC is all about Model View Controller, in this article we will learn how to create a WebGrid and search data and show it in a WebGrid with Entity Framework.</p>
<p>To See all list of property and methods click <a href="https://msdn.microsoft.com/en-us/library/system.web.helpers.webgrid(v=vs.111).aspx">here &#x2197;</a></p>
<p>To view Demo click @Html.ActionLink("here", "Index", "Student")</p>
